<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET" />
 <application android:theme="@style/AppTheme" android:label="Ali_Lien ETHW" android:icon="@drawable/app_icon" android:logo="@drawable/app_icon">
  <activity android:name=".SettingsActivity" android:exported="true" />
  <receiver android:name=".EthwWidgetProvider" android:exported="true"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" /></receiver>
 </application>
</manifest>